.newsletter
    background #E6E6E6
    margin-bottom $rem(14)
    padding $rem(35) 0
    form
        width 100%
        max-width 760px
        margin 0 auto
        p
            lato 12 bold
            color $azul
            text-transform uppercase
            margin 0 0 1em
        .wrapper
            display flex
            input
                background #F1F1F1
                border 0
                outline 0
                height 35px
                min-width 0
            input[type=text]
            input[type=email]
                flex 1
                margin-right 5px
                padding 0 10px
                lato 14
                color $azul
            input[type=submit]
                width 35px
                background-image $img('setinha-leiamais.png')
                background-repeat no-repeat
                background-position center
                cursor pointer

footer
    background $azul
    border-top 2px solid $amarelo
    padding $rem(25) 0
    .center
        display flex
        flex-wrap wrap
        color $azulClaro
    .informacoes
        width 600px
        margin-right auto
        display flex
        flex-wrap wrap
        +below($tablet)
            width 100%
    .marca
        display flex
        width 100%
        align-items flex-end
        cinzel 13
        white-space nowrap
        margin-bottom 35px
        +mobile()
            font-size 0
        img
            width 154px
            height 36px
            text-indent -9999px
            background $img('marca-talenco-rodape.png') no-repeat center
            margin-right 15px
        .social
            display flex
            margin-left auto
            a
                display block
                width 16px
                height 16px
                text-indent -9999px
                background-image $img('icones-redessociais-rodape.png')
                background-repeat no-repeat
                transition background .3s
                + a
                    margin-left 3px
                &.facebook
                    background-position 0 top
                    &:hover
                        background-position 0 bottom
                &.linkedin
                    background-position -19px top
                    &:hover
                        background-position -19px bottom
                &.pinterest
                    background-position -37.5px top
                    &:hover
                        background-position -37.5px bottom
                &.instagram
                    background-position right top
                    &:hover
                        background-position right bottom
    #form-contato
        width 300px
        clearfix()
        +below($tablet)
            display none
        input[type=text]
        input[type=email]
        textarea
            background transparent
            width 100%
            display block
            margin-bottom 3px
            border 1px solid $azulClaro
            lato 12
            color $azulClaro
            outline 0
            +placeholder()
                color $azulClaro
        input[type=text]
        input[type=email]
            height 22px
            padding 0 5px
        textarea
            resize none
            padding 5px
            height 80px
        input[type=submit]
            lato 12 bold
            color $azulClaro
            display inline-block
            float right
            cursor pointer
            transition color .3s
            background none
            border 0
            padding 0
            margin-top 3px
            &:hover
                color #fff
    nav
        margin-left 60px
        +below($tablet)
            display none
        a
            display block
            padding-left 20px
            background $img('setinha-rodape.png') no-repeat center left
            lato 14
            text-transform uppercase
            &:hover
                color #fff
            + a
                margin-top 10px
    .unidades
        width 500px
        p
            margin 0
            lato 14
            strong
                lato 16 bold
            + p
                margin-top 1.5em
    .copyright
        width 100%
        border-top 1px solid $azulClaro
        padding-top 5px
        margin-top $rem(35)
        p
            margin 0
            text-align center
            lato 10
            span
                margin 0 3px
            a:hover
                color #fff
            +mobile()
                span
                    font-size 0
                    display block
