header
    height 100px
    background $azul
    border-bottom 1px solid $amarelo
    position relative
    z-index 102
    +mobile()
        height 85px
    .center
        height 100%
        display flex
        align-items center
    .logo
        display block
        width 180px
        height 100%
        text-indent -9999px
        background $img('marca-talenco.png') no-repeat center
        +mobile()
            width 140px
            background-size 100% auto
    #nav-desktop
        margin-left auto
        height 100%
        display flex
        padding-top 20px
        +below($tablet)
            display none
        a
            height 100%
            display flex
            align-items center
            text-transform uppercase
            color #ffffff
            lato 16
            position relative
            + a
                margin-left 35px
            &:hover
            &.active
                color $amarelo
            &.active:after
                content ''
                position absolute
                width calc('100% - 16px')
                height 4px
                left 50%
                transform translateX(-50%)
                bottom -2px
                background $amarelo
    .social
        display flex
        padding-top 20px
        align-items center
        margin-left 45px
        +below($tablet)
            margin-left auto
        a
            display block
            width 16px
            height 16px
            text-indent -9999px
            background-image $img('icones-redessociais.png')
            background-repeat no-repeat
            transition background .3s
            + a
                margin-left 3px
            &.facebook
                background-position 0 top
                &:hover
                    background-position 0 bottom
            &.linkedin
                background-position -19px top
                &:hover
                    background-position -19px bottom
            &.pinterest
                background-position -37.5px top
                &:hover
                    background-position -37.5px bottom
            &.instagram
                background-position right top
                &:hover
                    background-position right bottom
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        margin-left 20px
        margin-top 20px
        .lines
            display block
            width 100%
            height 4px
            background $amarelo
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $amarelo
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        width 100%
        left 0
        top 100px
        background $azul
        padding 25px 5%
        border-bottom 4px solid darken($azul, 5)
        text-align center
        z-index 102
        +mobile()
            top 85px
        a
            display block
            text-align right
            lato 16
            color #fff
            text-transform uppercase
            + a
                margin-top 10px
            &.active
                color $amarelo
