desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul = #0F364C
$azulClaro = #5A8896
$amarelo = #E2B93F
$verde   = #18B5C4

@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Lato:300,400,700,900&display=swap')

cinzel($size, $weight = normal)
    font-size $rem($size)
    font-family 'Cinzel', 'Georgia', serif
    font-weight 400
    if $weight == bold
        font-weight 700

lato($size, $weight = normal)
    font-size $rem($size)
    font-family 'Lato', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
    if $weight == black
        font-weight 900
