.contato
    padding $rem(35) 0
    color $azul
    .telefone
        lato 24 bold
        margin 0 0 1em
    .wrapper
        display flex
        h3
            lato 20 light
            margin 0 0 .45em
        +below($tablet)
            display block
    .trabalhe-conosco
        width 300px
        p
            lato 14
            margin 0
            max-width 200px
            a
                font-weight bold
                &:hover
                    color $amarelo
        +below($tablet)
            width 100%
            margin-bottom $rem(30)
            p
                max-width 100%
    #form-contato
        flex 1
        display flex
        flex-wrap wrap
        justify-content space-between
        h3
            width 100%
        .col
            width calc('50% - 3px')
            clearfix()
            +mobile()
                width 100%
                + .col
                    margin-top 6px
        input[type=text]
        input[type=email]
            background #F3F4F5
            width 100%
            border 0
            outline 0
            color $azul
            lato 16
            height 42px
            padding 0 14px
            + input
                margin-top 6px
        textarea
            background #f3f4f5
            width 100%
            display block
            resize none
            border 0
            outline 0
            color $azul
            lato 16
            padding 14px
            height 138px
            margin-bottom 6px
        input[type=submit]
            background $amarelo
            color $azul
            lato 16 bold
            border 0
            outline 0
            float right
            padding 10px 25px
            cursor pointer
    .divider
        width 100%
        height 1px
        background $amarelo
        margin $rem(30) 0
    h2
        lato 24 light
        color $azul
        margin 0 0 1.5em
    .unidades
        display flex
        flex-wrap wrap
        color $azul
        .unidade
            width calc('33.333% - 20px')
            margin-right 30px
            display flex
            flex-direction column
            margin-bottom 25px
            &:nth-child(3n)
                margin-right 0
            h4
                lato 20 bold
                margin 0
            p
                lato 16
                margin 5px 0 0
                + p
                    margin-bottom 14px
            .mapa
                width 100%
                height 220px
                margin-top auto
                iframe
                    display block
                    width 100%
                    height 100%
        +mobile()
            display block
            .unidade
                width 100%
