.banners
    width 100%
    height 695px
    position relative
    background $azul
    +tablet()
        height 600px
    +mobile()
        height 350px
    .slide
        width 100%
        height 100%
        position absolute
        display table
        background-size cover
        background-position center
        &:after
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-image linear-gradient($azul 0%, transparent 100%)
            z-index 102
        .table
            display table
            width 100%
            height 100%
        .table-cell
            display table-cell
            vertical-align middle
            text-align center
        .texto
            display inline-block
            max-width 600px
            text-align center
            position relative
            z-index 104
            +tablet()
                max-width 400px
            +mobile()
                max-width calc('100% - 110px')
            &:before
                content ''
                position absolute
                top 0
                left -30px
                width 5px
                height 100%
                border-top 2px solid #fff
                border-bottom 2px solid #fff
                border-left 2px solid #fff
            &:after
                content ''
                position absolute
                top 0
                right -30px
                width 5px
                height 100%
                border-top 2px solid #fff
                border-bottom 2px solid #fff
                border-right 2px solid #fff
            h2
                lato 36 light
                color #fff
                margin 0 0 10px
                strong
                    lato 36 bold
                    color $amarelo
                +tablet()
                    font-size 30px
                    strong
                        font-size 30px
                +mobile()
                    font-size 22px
                    strong
                        font-size 22px
            p
                lato 18
                color #fff
                margin 0
                +tablet()
                    font-size 16px
                +mobile()
                    font-size 14px
    .cycle-prev
        width 25px
        height 74px
        text-indent -9999px
        position absolute
        z-index 104
        top 50%
        left 50%
        margin-left -590px
        margin-top -37px
        background $img('seta-banner-esquerda.png')
        cursor pointer
        +tablet()
            left 5%
            margin-left 0
        +mobile()
            display none
    .cycle-next
        width 25px
        height 74px
        text-indent -9999px
        position absolute
        z-index 104
        top 50%
        right 50%
        margin-right -590px
        margin-top -37px
        background $img('seta-banner-direita.png')
        cursor pointer
        +tablet()
            right 5%
            margin-right 0
        +mobile()
            display none

.chamadas
    margin 60px 0
    +mobile()
        margin 30px 0
    .center
        clearfix()
    .chamada
        width 50%
        float left
        display block
        &.chamada-1 .texto
            background $azul
        &.chamada-1
        &.chamada-2
        &.chamada-5
        &.chamada-6
            .imagem:after
                content ''
                position absolute
                top 20px
                right 0
                width 0
                height 0
                border-style solid
                border-width 20px 20px 20px 0
                border-color transparent #E7E9EB transparent transparent
                +mobile()
                    transform rotate(90deg)
                    left 30px
                    top auto
                    bottom -10px
        &.chamada-3
        &.chamada-4
            .imagem:after
                content ''
                position absolute
                top 20px
                left 0
                width 0
                height 0
                border-style solid
                border-width 20px 0 20px 20px
                border-color transparent transparent transparent #E7E9EB
                +mobile()
                    transform rotate(90deg)
                    left 30px
                    top -10px
        &.chamada-1 .imagem:after
            border-color transparent $azul transparent transparent
        &.chamada-1 .imagem:before
            display none !important
        +below($tablet)
            width 100%
            margin-bottom 6px
        clearfix()
        .imagem
            width 50%
            float left
            height 220px
            position relative
            background-size cover
            background-position center
            &:before
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($amarelo, .5)
                opacity 0
                transition opacity .3s
            +mobile()
                width 100%
        .texto
            width 50%
            float left
            height 220px
            overflow hidden
            background #E7E9EB
            padding 30px
            h2
                margin 0
                color #fff
                lato 38 light
                line-height 1.2
                cursor default
                +mobile()
                    font-size 32px
            h3
                lato 20 black
                color $azul
                margin 0 0 6px
                transition color .3s
                +mobile()
                    font-size 18px
            p
                margin 0
                color $azul
                lato 16
                +mobile()
                    font-size 15px
            span
                display inline-block
                margin 20px 0 0
                lato 11 black
                color $azul
                padding-right 20px
                transition color .3s
                &:after
                    display inline-block
                    content ''
                    width 0
                    height 0
                    margin-left 8px
                    transform translateY(1px)
                    border-style solid
                    border-width 5px 0 5px 10px
                    border-color transparent transparent transparent $azul
                    transition border .3s
            +mobile()
                width 100%
                height auto
                padding 20px
        &:hover
            .imagem:before
                opacity 1
            h3
            span
                color $amarelo
                &:after
                    border-color transparent transparent transparent $amarelo

.blog-home
    background #666666
    padding 60px 0 50px
    margin-bottom 50px
    +mobile()
        padding 25px 0
        margin-bottom 30px
    .espaco-talenco
        background $img('elemento-marca.png') no-repeat center bottom
        width 100%
        height 82px
        position relative
        margin-bottom 25px
        +mobile()
            margin-bottom 15px
        +tablet()
            background-position center left
        +mobile()
            background none
            height auto
        span
            display block
            position absolute
            width auto
            color #fff
            lato 25 light
            left 330px
            top 15px
            strong
                lato 25 black
            +tablet()
                left 230px
                background-size 80px 3px
            +mobile()
                left 0
                width 100%
                position relative
                top 0
                font-size 20px
                padding 0
                text-align center
                background none
                strong
                    font-size 20px
    .posts
        display flex
        flex-wrap wrap
        a
            width calc('33.333% - 23.333px')
            margin-right 35px
            padding 10px 10px 50px
            transition background .3s
            position relative
            +mobile()
                width 100%
                margin-right 0
                background $azul
                + a
                    margin-top 10px
            &:hover
                background $azul
            &:last-child
                margin-right 0
            .imagem
                width 100%
                position relative
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background $img('canto-degrade.png') no-repeat bottom right
                img
                    width 100%
                    display block
                span
                    position absolute
                    right 10px
                    bottom 10px
                    lato 12
                    color #fff
                    z-index 3
            h4
                text-align right
                margin 10px 0 18px
                lato 11
                color #fff
            h3
                lato 22
                color #fff
                margin 15px 0 20px
                +mobile()
                    font-size 18px
            p
                lato 14
                margin 0
                color #fff
            .mais
                position absolute
                right 10px
                bottom 10px
                lato 11 bold
                color #fff
                padding-right 15px
                display block
                &:after
                    content ''
                    position absolute
                    right 0
                    top 2px
                    width 0
                    height 0
                    border-style solid
                    border-width 4px 0 4px 8px
                    border-color transparent transparent transparent #fff

.home
    .frase
        text-align center
        padding-top $rem(50)
        h2
            display inline-block
            margin 0
            cinzel 38
            color $azul
            padding 0 70px
            position relative
            text-align center
            &:before
            &:after
                content ''
                position absolute
                width 40px
                height 1px
                top 50%
                margin-top -1px
                background $amarelo
                +below($tablet)
                    display none
            &:before
                left 0
            &:after
                right 0
        +tablet()
            h2
                padding 0
        +mobile()
            padding-top $rem(30)
            h2
                font-size 22px
                padding 0
    .depoimentos
        margin $rem(60) auto 0
        width 100%
        max-width 820px
        padding 0 100px
        position relative
        +mobile()
            margin $rem(40) auto 0
            padding 0 25px
        .depoimento
            display flex !important
            align-items flex-start
            img
                border-radius 50%
                width 200px
                height 200px
                flex-shrink 0
                margin-right 40px
                +mobile()
                    width 70px
                    height 70px
                    margin-right 20px
            .texto
                p
                    lato 16
                    margin 0
                    color $azul
                    font-style italic
                    &.desc
                        cinzel 16
                        margin-top 1em
                        font-style normal
        .controls
            width 12px
            height 33px
            position absolute
            top 50%
            transform translateY(-50%)
            text-indent -9999px
            &.cycle-prev
                left -100px
                background $img('seta-depoimentos-esquerda.png') no-repeat center
                +mobile()
                    left -25px
            &.cycle-next
                right -100px
                background $img('seta-depoimentos-direita.png') no-repeat center
                +mobile()
                    right -25px
