.o-que-fazemos
    section
        padding $rem(55) 0
        color $azul
        text-align center
        &.primary
            background $azul
            color #fff
            h2
                &:before
                &:after
                    background #fff
        h2
            display inline-block
            lato 24 bold
            text-align center
            margin 0 0 1em
            position relative
            &:before
            &:after
                content ''
                position absolute
                top 50%
                width 40px
                height 1px
                background $amarelo
            &:before
                left -60px
            &:after
                right -60px
        p
            lato 16
            text-align center
            margin 0
    .chamadas
        display flex
        margin-top $rem(40)
        .chamada
            padding 0 $rem(50)
            flex 1
            img
                display block
                max-width 100%
                margin 0 auto $rem(40)
            h3
                margin 0 0 .8em
                lato 17 bold
        +mobile()
            display block
            clearfix()
            .chamada
                width 100%
                padding 0
                + .chamada
                    margin-top 30px
    .servicos
        display flex
        margin-top $rem(40)
        .servico
            flex 1
            padding 0 $rem(20)
            h3
                lato 18 bold
                position relative
                margin 0 0 20px
                padding-bottom 20px
                &:after
                    content ''
                    position absolute
                    width 70px
                    height 2px
                    background $azul
                    left 50%
                    bottom -1px
                    transform translateX(-50%)
        +mobile()
            display block
            .servico
                width 100%
                padding 0
                + .servico
                    margin-top 30px
    .imagem
        background-size cover
        background-position center
        margin-bottom $rem(50)
        .wrapper
            padding $rem(100) 0
            margin-left 50%
            max-width 330px
            color #fff
            h3
                lato 20 bold
                position relative
                margin 0 0 20px
                padding-bottom 20px
                &:after
                    content ''
                    position absolute
                    width 70px
                    height 2px
                    background #fff
                    left 0
                    bottom -1px
            p
                lato 16
                margin 0 0 2em
            img
                display block
        +mobile()
            background-image none !important
            background-color $azul
            .wrapper
                width 100%
                max-width 100%
                padding $rem(30) 0
                margin 0
                text-align center
                h3:after
                    left 50%
                    transform translateX(-50%)
                img
                    margin 0 auto
