.portfolio
    .portfolio-categorias
        border-bottom 1px solid $amarelo
        .center
            display flex
            align-items center
        h1
            lato 20 light
            color $azul
            margin 0
            margin-right auto
        nav
            display flex
            a
                height 60px
                padding 0 30px
                display flex
                flex-direction column
                justify-content center
                align-items center
                lato 16 bold
                color $azul
                &.active
                    background #ECD181
                span
                    display block
                    lato 10
                    &.divider
                        width 25px
                        height 1px
                        background transparent
                        margin 3px 0 2px
                        &.active
                            background $azul
        +below($tablet)
            .center
                display block
                padding-top 10px
                h1
                    padding-bottom 10px
        +mobile()
            nav
                display flex
                flex-wrap wrap
                a
                    width 50%
                    height 50px
                    align-items flex-start
                    padding 0 12px
    .portfolio-thumbs
        padding $rem(30) 0 $rem(50)
        .center
            display flex
            flex-wrap wrap
            a
                width calc('33.333% - 10.667px')
                margin-right 16px
                margin-bottom 16px
                position relative
                +mobile()
                    margin-right 0
                    width 100%
                &:hover .overlay
                    opacity 1
                &:nth-child(3n)
                    margin-right 0
                img
                    width 100%
                    display block
                .overlay
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba($azul, .7)
                    display flex
                    align-items center
                    justify-content center
                    opacity 0
                    transition opacity .3s
                    .wrapper
                        lato 18
                        color #fff
                        text-align center
                        small
                            font-size 12px
                            display block
                            margin-top 3px

.projeto-lightbox
    .overlay
        position fixed
        width 100%
        height 100%
        top 0
        left 0
        background rgba(#000, .8)
        cursor pointer
        z-index 103
    .content
        position absolute
        top 80px
        margin 0 0 80px
        left 50%
        transform translateX(-50%)
        width 90%
        max-width 1200px
        background #fff
        padding 10px
        z-index 104
    .imagens
        width 100%
        height 0
        padding-bottom 48.73%
        background #eee
        position relative
        .slide
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-size contain
            background-position center
            background-repeat no-repeat
        .controls
            position absolute
            top 50%
            z-index 102
            width 25px
            height 74px
            text-indent -9999px
            transform translateY(-50%)
            &.cycle-prev
                background $img('seta-banner-esquerda.png') no-repeat center
                left 20px
            &.cycle-next
                background $img('seta-banner-direita.png') no-repeat center
                right 20px
            +mobile()
                width 18px
                background-size 100% auto !important
                &.cycle-prev
                    left 10px
                &.cycle-next
                    right 10px
    .descricao
        display flex
        padding 15px
        +mobile()
            display block
            padding 10px 0
        .left
            margin-right 20px
            color $azul
            width 25%
            +mobile()
                width 100%
            h2
                lato 18
                margin 0
            p
                lato 12
                margin 1em 0
                &.arquiteto
                    font-size 11px
                    font-style italic
        .right
            border-left 1px solid $amarelo
            padding-left 20px
            p
                margin 0
                lato 15
                color $azul
            +mobile()
                border-top 1px solid $amarelo
                border-left 0
                padding-top 10px
                padding-left 0
