.sobre-nos
    position relative
    padding-top $rem(170)
    padding-bottom $rem(50)
    +mobile()
        padding-top 25px
    .bg
        position absolute
        top 0
        left 0
        width 100%
        height 300px
        z-index -1
        background-size cover
        background-position center
        +mobile()
            display none
    .center
        display flex
        +mobile()
            display block
    nav
        width 30%
        margin-right $rem(40)
        background #fff
        +mobile()
            width 100%
            margin-bottom 30px
        h2
            display block
            background $azul
            lato 20 light
            color #fff
            padding 25px
            margin 0
        a
            display block
            lato 16
            color $azul
            padding 19px 25px
            border-bottom 1px solid $amarelo
            &.active
                background $img('setinha-submenu-amarelo.png') no-repeat left center
    main
        flex 1
        background #fff
        padding $rem(50)
        margin-top $rem(40)
        +mobile()
            padding 0
            margin-top 0
        h1
            lato 24 bold
            color $azul
            margin 0 0 1.5em
        p
            lato 16
            color $azul
            margin 0
            + p
                margin-top 1em
    .topicos
        margin-top $rem(40)
        .topico
            border-top 1px solid $amarelo
            display flex
            + .topico
                margin-top 20px
            img
                width 160px
                flex 0 0 160px
                margin-right 20px
                align-self flex-start
                +tablet()
                    width 120px
                    flex-basis 120px
                +mobile()
                    width 100px
                    flex-basis 100px
            .texto
                padding-top 20px
                flex 1
                h2
                    lato 20 bold
                    color darken($amarelo, 5)
                    margin 0 0 .8em
                a
                    font-weight bold
                    &:hover
                        color $amarelo
